@media only screen and (min-width: 992px) { 

    #home .carousel-control-next:hover {
    background-color: rgba(128, 128, 128, 0.301);
    }
    
    #home .carousel-control-prev:hover {
    background-color: rgba(128, 128, 128, 0.301);
    }   
}

#home .carousel-indicators {
    z-index: 1;
}

#home h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin: 20px;
}

#home p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 500px) {
    #home h1 {
        font-size: 2em;
    }

}

@media (max-width: 376px){
    #home h1 {
        font-size: 1.75em;
    }
    #home p {
        font-size: .75em;
    }
}