.navbar-brand {
    font-size: 2em;
    margin: auto;
}

@media (max-width: 500px) {
    .nav-link {
        font-size: .75em;
    }

}

@media (max-width: 376px){
    .navbar-brand {
        font-size: 1.5em;
    }
}

nav {
    font-family: 'Amatic SC', cursive; 
    top: 0; 
    width: 100%;
    z-index: 2;
}

.navbar {
    position: fixed; 
}

.nav-link {
    padding: 0;
}